@model EventEaseBookingSystem.Models.Event
@{
    ViewData["Title"] = "Edit Event";
}

<h2>Edit Event</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="EventId" />

    <label>Title</label>
    <input asp-for="EventName" />

    <label>Date</label>
    <input asp-for="EventDate" type="date" />

    <label>Venue</label>
    <select asp-for="VenueId" asp-items="ViewBag.VenueId"></select>

    <button type="submit">Save</button>
</form>
