@model EventEaseBookingSystem.Models.Booking;
@{
    ViewData["Title"] = "Booking Details";
}

<h2>Booking Details</h2>

@*@<p><strong>Customer Name:</strong> @Model.CustomerName</p>
<p><strong>Event:</strong> @Model.Event?.Title</p>
<p><strong>Seats:</strong> @Model.SeatsBooked</p>

WILL FIX 

*@

<p>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
